<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>UVspective</title>
</head>

<body>
    <nav class="navbar">
        <header class="menu">
            <div class="logo"><img class="sun-logo" src="/img/sunLogo.png" alt=""></div>
            <div class="hamburger-menu">
                <div class="line1 line"></div>
                <div class="line2 line"></div>
                <div class="line3 line"></div>
            </div>
            <div class="mobile-menu">
                <div class="nav-button ultraviolet">UV</div>
                <div class="nav-button vitamin">Vitamin D</div>
            </div>
        </header>
        <div class="search-bar-container">
            <input type="text" id="searchBar" class="search-bar" placeholder="Search by town or city...">
            <ul class="search-results">
            </ul>
            <div class="no-results">No Results...</div>
        </div>
    </nav>

    <main>
        <div class="data-container">
            <div class="city-container">
                <div class="city-name">-</div>
            </div>
            <div class="general-data">
                <div class="suninfo">
                    <div class="uvi-container">
                        <div class="uvi-box">UVI Level</div>
                        <div class="uvi">-</div>
                    </div>
                    <div class="vitamin-container">
                        <div class="vitamin-box">Vitamin D</div>
                        <div class="vitamin-status">-</div>
                    </div>
                </div>
                <div class="weather-container">
                    <div class="temperature">
                        <div class="day">-</div>
                        <div class="icon"><img class="sun1-image" src="/img/sun1.png" alt=""></div>
                        <div class="temp-number">-</div>
                    </div>
                    <div class="general-weather">
                        <div class="prec">
                            <div class="prec-text">PRECIPITATION</div>
                            <div class="prec-percent">-</div>
                        </div>
                        <div class="wind">
                            <div class="wind-text">WIND</div>
                            <div class="wind-speed">-</div>
                        </div>
                        <div class="humidity">
                            <div class="humidity-text">HUMIDITY</div>
                            <div class="humidity-percent">-</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weather-settings-container">
                <div class="weather-settings">
                    <% if(!onLoadSlideValue || onLoadSlideValue === "Metric") { %>
                    <div class="metric metric-color">Metric</div>
                    <div class="setting-slider">
                        <div class="ball"></div>
                    </div>
                    <div class="imperial">Imperial</div>
                    <% } else { %>
                    <div class="metric">Metric</div>
                    <div class="setting-slider">
                        <div class="ball imperial-ball"></div>
                    </div>
                    <div class="imperial imperial-color">Imperial</div>
                    <% } %>

                </div>
            </div>
            <div class="ch-loc-container">
                <button class="search-active">Change Location</button>
            </div>
            <div class="sunbathing-container">
                <h4>Skin Color & Time in Sun</h4>
            </div>
            <div class="very-fair-container">
                <div class="very-fair-color">-</div>
                <div class="vf-unit">Minutes</div>
            </div>
            <div class="fair-container">
                <div class="fair-color">-</div>
                <div class="f-unit">Minutes</div>
            </div>
            <div class="medium-container">
                <div class="medium-color">-</div>
                <div class="m-unit">Minutes</div>
            </div>
            <div class="light-brown-container">
                <div class="olive-color">-</div>
                <div class="lb-unit">Minutes</div>
            </div>
            <div class="dark-brown-container">
                <div class="dark-color">-</div>
                <div class="db-unit">Minutes</div>
            </div>
            <div class="black-container">
                <div class="very-dark-color">-</div>
                <div class="b-unit">Minutes</div>
            </div>
        </div>
        <div class="accu-container">Weather data by <img class="aw-logo " src="/img/aw-logo.png" alt=""></div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>
</body>



</html>