<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Main</title>
</head>

<body>
    <nav class="navbar">
        <header class="menu">
            <div class="logo">Logo</div>
            <div class="hamburger-menu">
                <div class="line1 line"></div>
                <div class="line2 line"></div>
                <div class="line3 line"></div>
            </div>
        </header>
        <div class="search-bar-container">
            <input type="text" id="searchBar" class="search-bar" placeholder="Search by street, city...">
            <ul class="search-results">
                <li>he</li>
                <li>he</li>
                <li>he</li>
                <li>he</li>
                <li>he</li>
                <li>he</li>
                <li>he</li>
                <li>he</li>
                <li>he</li>
            </ul>
        </div>
    </nav>
    <div class="mobile-menu">
        <div class="nav-button ultraviolet">UV</div>
        <div class="nav-button vitamin">Vitamin D</div>
    </div>
    <main>
        <div class="ad-one">test</div>
        <div class="data-container">
            <div class="city-name"></div>
            <div class="uv-index"></div>
            <div class="suning-status"></div>
            <div class="sunbathing-container">
                <div class="title">
                    <h4>Skin Color & Timing</h4>
                </div>
                <div class="skin-timing-container">
                    <div class="very-fair-container">
                        <div class="timing-v-fair"></div>
                        <div class="very-fair-color"></div>
                    </div>
                    <div class="fair-container">
                        <div class="timing-fair"></div>
                        <div class="fair-color"></div>
                    </div>
                    <div class="medium-container">
                        <div class="timing-medium"></div>
                        <div class="medium-color"></div>
                    </div>
                    <div class="olive-container">
                        <div class="timing-olive"></div>
                        <div class="olive-color"></div>
                    </div>
                    <div class="dark-container">
                        <div class="timing-dark"></div>
                        <div class="dark-color"></div>
                    </div>
                    <div class="very-dark-container">
                        <div class="timing-v-dark"></div>
                        <div class="very-dark-color"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad-two">test</div>
    </main>
</body>
<script src="js/main.js"></script>

</html>